body {
background-color:#007DBB;
margin:0;
padding:0;
font-size:16px;
font-family:#7b7171;
font-weight:300;

}
#login-box\ {
    position: relative;
    margin: 7% auto;
    height: 400px;
	width:600px;
    background:white;
    box-shadow: 0 2px 4px rgba(44, 22, 22, 0.6);
}


.left-box{
    position: absolute;
    top: 0;
    box-sizing: border-box;
    padding: 40px;
    left: 0;
    width: 300px;
}
	h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 26px;
}
input {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
    outline: none;
    border-bottom: 1px solid #135895;
    font-family: Elephant;
    font-size: 15px;
    transition: 0.2s;
}
input[type="submit"]
{
	margin-bottom:28px;
	width:120px;
	height:32px;
	background:#f44336;
	border:none;
	border-radius:2px;
	color:#fff;
	font-family:Abadi Extra Light;
	font-weight:400;
	text-transform:uppercase;
	transition:o.2s;
	cursor:pointer;
		
}

	input:hover {
    background-color: #464696;

}
.right-box{
	position:absolute;
	top:0;
	right:0;
	box-sizing:border-box;
	padding:40px;
	width:300px;
	height:400px;
	background-image:url("../f9.jpg");
	background-position:cente;
	background-size:cover;
}
.signwith {
    display: block;
    margin: 21px;
        margin-bottom: 21px;
    font-size: 19px;
    color: #f3f3f8;
    text-align: center;
    font-weight: bold;
    padding-top: -5px;
    margin-bottom: 22px;
}
button.social {
    margin-bottom: 20px;
    width: 218px;
    height: 32px;
    border-radius: 38px;
    color: black;
    font-family: Abadi Extra Light;
    font-weight: 500;
    cursor: pointer;
}
.social.linkedin {
    background-color: white;
}
.social.instagram {
    background-color:white;
   
}
.social.twitter {
    background-color:white;
}
.social.google {
    background-color:white;
}
.social.linkedin:hover {
    background-color: #5d5dcf;

}
.social.instagram:hover {
    background-color: #c97575;
}

.social.twitter:hover {
    background-color: #007DBB;
}
.social.google:hover {
    background-color:#cb3f3f;
}